<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <link href="/static/he/style.css" rel="stylesheet" type="text/css">
    <title>Affluence (beta)</title>
    <!-- Bootstrap3, ref: https://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CDN. Ref = http://bootstrap.rtlcss.com/docs/4.0/getting-started/download/ -->
    <!--<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">-->
    <!--<script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!-- CDN / -->

    {% block head %}
    {#
    Default HEAD content goes here
    with extra nested blocks for children to override
    if needed.
    #}
    {% endblock head %}
</head>
<body>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <header>{% block header %}{% endblock header %}</header>
    {# Note: This assumes we *always* want a header #}
    {% block content %}{% endblock content %}

    <div class="container-fluid">
        <h1><img src="/static/media/beta-banner.png" alt="Smiley face" width="42" height="42">Affluence v0.1</h1>
            <form class="form-inline" action="/add/" method="GET">
                <div class="form-group">
                    <textarea id="ta_desc" name="desc" placeholder="תיאור" data-limit-rows="true" cols="50" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <input id="tb_quant" name="quantity" placeholder="סכום">
                </div>
                <div class="form-group">
                    {{ db_payment_methods }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="שמירה">
                </div>
            </form>
        <hr/>
        <h2>העברות שפע מתחילת החודש:</h2>
        {{ db_expenses }}
        <span>
            <strong>
                סה"כ מתחילת החודש:
                {{ db_sum }}
            </strong>
        </span>
    </div>
</body>
</html>