<!DOCTYPE html>
<html>
<head>
    <link href="/static/he/style.css" rel="stylesheet" type="text/css">
    {% block head %}
    {#
    Default HEAD content goes here
    with extra nested blocks for children to override
    if needed.
    #}
    {% endblock head %}
</head>
<body>
    <header>{% block header %}{% endblock header %}</header>
    {# Note: This assumes we *always* want a header #}
    {% block content %}{% endblock content %}
    <h1>Affluence v0.1 beta</h1>
    <div class="row">
        <form action="add" method="POST">
            <textarea class="form-control" name="contents" placeholder="תיאור"></textarea>
            <input name="quantity">
            <input type="submit" class="btn btn-success" value="שמירה">
        </form>
    </div>
    <hr/>
    <h2>הוצאות קודמות החודש</h2>
    {{ db_expenses }}
</body>
</html>